
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#363636,#A9A9A9);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.content{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content-itens{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input_nova_tarefa, #btn_nova_tarefa{
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input_nova_tarefa{
    width: 20rem;
    border-radius: 1rem;
}

#btn_nova_tarefa{
    border-radius: 1rem;
    background-color: #808080;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

#btn_nova_tarefa:hover{
    background-color: #696969;
}

#to-do-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#to-do-list li{
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

#to-do-list li:hover{
    background-color: #696969;
    transition: .4s;
    border-radius: 1rem;
    padding-left: 1rem;

}


#btn-ok{
    border: none;
    color: white;
    background-color: #228B22;
    font-size: 1rem;
    padding: .2rem .4rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#btn-ok:hover{
    background-color:#006400;
}